[Unit]
Description=Cupcake Plugin Manager
Requires=cupcake-plugin-manager.socket
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/cupcake-plugin-manager
StandardInput=null
